body {
  background-color: #ffffff;
  color: #212121;
}
.list {
  list-style: none;
}
.logo {
  color: #000;
}
/*site nav*/
.site-nav .link {
  color: #2169f3;
}
,
.site-nav .link:hover,
.site-nav .link:focus {
  color: #000;
}
/*колір основного тексту #212121*/
/*колір фону основного тексту #FFFFFF*/
/*колір вторинн тексту #757575*/
/*акцент #2196F3*/
/*колір фона вториннй: #F5F4FA;*/
/*колір фона героя #2F303A*/
